version: 2.1

jobs:
  build-kernel:
    machine:
      image: ubuntu-2004:2024.11.1   
    resource_class: large            
    steps:
      - checkout

      - run:
          name: Update apt and install toolchain
          command: |
            sudo apt update
            sudo apt install -y clang-10 lld-10 lldb-10 \
                gcc g++ make bc bison flex libssl-dev \
                libncurses5-dev libncursesw5-dev python2 \
                gcc-aarch64-linux-gnu g++-aarch64-linux-gnu binutils-aarch64-linux-gnu
      - run:
          name: Set environment variables
          command: |
            echo 'export ARCH=arm64' >> $BASH_ENV
            echo 'export SUBARCH=arm64' >> $BASH_ENV
            echo 'export CC=clang-10' >> $BASH_ENV
            echo 'export LD=ld.lld-10' >> $BASH_ENV
            echo 'export CROSS_COMPILE=aarch64-linux-gnu-' >> $BASH_ENV
            echo 'export PATH=/usr/bin:$PATH' >> $BASH_ENV
            echo 'export LD=ld.bfd' >> $BASH_ENV
            echo 'export LD=aarch64-linux-gnu-ld.bfd' >> $BASH_ENV
            source $BASH_ENV

      - run:
          name: Kernel defconfig
          command: |
            make O=out m40_swa_open_defconfig

      - run:
          name: Build kernel
          command: |
            make V=4 -j$(nproc) O=out CC=clang-10 LD=aarch64-linux-gnu-ld.bfd

      - persist_to_workspace:
          root: out
          paths:
            - arch/arm64/boot/Image
            

      - store_artifacts:
          path: out/arch/arm64/boot/Image
          destination: Image

workflows:
  build:
    jobs:
      - build-kernel
